<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/menu">Página principal</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="product.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-textarea [(ngModel)]="product.description"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Cantidad</ion-label>
    <ion-input type="number" [(ngModel)]="product.quantity"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Costo</ion-label>
    <ion-input type="number" [(ngModel)]="product.cost"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Precio de Venta</ion-label>
    <ion-input type="number" [(ngModel)]="product.price"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">URL de la Imagen</ion-label>
    <ion-input [(ngModel)]="product.imageUrl"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="addProduct()">
    {{ editIndex === null ? 'Agregar Producto' : 'Actualizar Producto' }}
  </ion-button>

  <ion-button color="warning" expand="full" *ngIf="editIndex !== null" (click)="cancelEdit()">
    Cancelar
  </ion-button>

  <ion-list>
    <ion-card *ngFor="let product of products; let i = index"
      style="display: flex; align-items: stretch; min-height: 150px;">
      <img [src]="product.imageUrl" *ngIf="product.imageUrl" alt="Imagen del producto"
        style="width: 100%; height: 100%; max-width: 200px; max-height: 200px; object-fit: cover; margin-right: 15px;" />

      <div style="flex: 1; display: flex; flex-direction: column; justify-content: center;">
        <ion-card-header>
          <ion-card-title>{{ product.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Descripción:</strong> {{ product.description }}</p>
          <p><strong>Cantidad:</strong> {{ product.quantity }}</p>
          <p><strong>Costo:</strong> {{ product.cost | currency }}</p>
          <p><strong>Precio de Venta:</strong> {{ product.price | currency }}</p>

          <ion-button color="primary" (click)="editProduct(i)">Editar</ion-button>
          <ion-button color="danger" (click)="deleteProduct(i)">Eliminar</ion-button>
        </ion-card-content>
      </div>
    </ion-card>

  </ion-list>
</ion-content>