<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="onLogin()" [formGroup]="loginForm">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input formControlName="username" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Mantener sesión iniciada</ion-label>
      <ion-checkbox formControlName="rememberMe" slot="end"></ion-checkbox>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!loginForm.valid">Iniciar Sesión</ion-button>
  </form>

  <ion-button expand="full" (click)="openRegisterModal()">Registrar Nuevo Usuario</ion-button>

  <ion-modal [isOpen]="isRegisterModalOpen" (didDismiss)="closeRegisterModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Registro de Usuario</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeRegisterModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <form (submit)="onRegister()" [formGroup]="registerForm">
          <ion-item>
            <ion-label position="floating">Nombre Completo</ion-label>
            <ion-input formControlName="fullName" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input formControlName="username" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Nombre de la Tienda</ion-label>
            <ion-input formControlName="storeName" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">URL de Foto de la Tienda</ion-label>
            <ion-input formControlName="storePhotoUrl" type="url"></ion-input>
          </ion-item>

          <ion-button expand="full" type="submit" [disabled]="!registerForm.valid">Registrar</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>